@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

#mainContainer {
    background-color: #F4EFEC;
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

#logo {
    font-size: 30px;
}

#centralArea {
    display: flex;
    justify-content: center;
}

#leftContainer {
    width: 60vw;
}

#artistName {
    font-weight: bold;
}

#artworkTitle {
    font-style: italic;
}

#rightContainer {
    width: 20vw;
}

#rightMenuList {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
}

button {
    background-color: #92997C;
    border: 0px;
    border-radius: 6px;
}