@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

#mainContainer {
    background-color: #F4EFEC;
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
}

#contactCard{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px
}

#centralArea {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

#artistName {
    font-weight: bold;
    padding-top: 10px;
}

#artworkTitle {
    font-style: italic;
}

#rightMenuList {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
}

#rightImg {
    width: 150px
}

button {
    background-color: #92997C;
    border: 0px;
    border-radius: 6px;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

h5 {
    padding-top: 20px;
}