body {
    background-color: #F4EFEC;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
}

#leftContainer {
    width: 40vw;
}

#rightContainer {
    width: 20vw;
}

button {
    background-color: #92997C;
    border: 0px;
    border-radius: 6px;
}